<!DOCTYPE html>
<html lang="en">

<% include header %>

    <body>
        <div id="wrapper" class="toggled">
   

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1><span class="fa fa-info"></span> IDP</h1>
                                <table class="table">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>Login Url</th><th>Logout Url</th><th>Cert</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>
                                                    <%= sso_login_url%>
                                                </td>
                                                <td>
                                                    <%= sso_logout_url%>
                                                </td>
                                                <td>
                                                    <%= sso_public_key%>
                                                </td>                                                
                                            </tr>
                                          
                                                <tbody>
                                </table>
                                <a href="/idp/setup" class="btn btn-warning btn-lg">Setup IDP</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <% include scripts %>

    </body>

</html>